.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.product-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tbody tr:hover {
    background-color: #ddd;
}

/* Bảng */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Khoảng cách giữa bảng và các phần khác */
}

/* Đầu bảng */
table th {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Ô trong bảng */
table td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Xác định màu nền của các hàng chẵn */
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover qua hàng */
table tr:hover {
    background-color: #ddd;
}

/* Phần công cụ */
.tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Khoảng cách giữa phần công cụ và nội dung */
}

/* Tiêu đề trang */
.page-title {
    margin: 0;
}

/* Nút hành động */
.action-buttons {
    display: flex;
}

/* Kiểu cho nút */
.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

/* Kiểu khi rê chuột qua nút */
.btn:hover {
    background-color: #0056b3;
}

/* Kiểu cho nút thêm */
.add-button {
    margin-right: 10px;
}

/* Kiểu cho nút sửa */
.edit-button {
    margin-right: 10px;
}

/* Kiểu cho nút xóa */
.delete-button {
    background-color: #dc3545;
}

/* Kiểu khi rê chuột qua nút xóa */
.delete-button:hover {
    background-color: #c82333;
}

.operation-button {
    display: flex;
}

/* Form thêm, sửa sản phẩm */
.add-product-form,
.edit-product-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.add-product-form h2,
.edit-product-form h2 {
    margin-top: 0;
}

.add-product-form label,
.edit-product-form label {
    display: block;
    margin-bottom: 5px;
}

.add-product-form input[type="text"],
.edit-product-form input[type="text"],
.add-product-form select,
.edit-product-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.add-product-form .btn,
.edit-product-form .btn {
    margin-right: 10px;
}

/* Mờ phủ nền khi form hiển thị */
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Mờ */
    z-index: 998; /* Mặt nạ nằm dưới form */
}

.show-overlay {
    display: block;
}
