/* HEADER START*/

/* HEADER END */

/* FOOTER START */
.footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #b19498;
    padding-top: 5px;
}

/* FOOTER END */

/* CONTAINER START */

/* CONTAINER END */
