{% set page='dashboard' %}
{% extends './layout.twig' %}
{% block content %}
    <div class="container">
        <div>
            <h1>Top Sales</h1>
        </div>
        <div>
            <h1>Revenue</h1>
        </div>
        <div>
            <h1>Customer</h1>
        </div>
        <div>
            <h1>Staff</h1>
        </div>
    </div>
{% endblock %}