{% set page = 'blank' %}
{% extends 'layout.twig' %}

{% block content%}

    <h3 class="text-dark mb-4">Trang trống</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Trang trống</p>
        </div>
        <div class="card-body">
        </div>
    </div>

{% endblock %}