<html>
<head>
    <meta charset="UTF-8"/>
    {% block title %}{% endblock %}
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/layout.css">
</head>
<body>
<div id="header">
    {% include('Includes/header.twig') %}
</div>
<div id="container" style="display: flex;">
    <div id="sidebars">
        {% include('Includes/sidebars.twig') %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
{% block script %}{% endblock %}
<div id="footer">
    {% include('Includes/footer.twig') %}
</div>
</body>
</html>