<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Admin Panel</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/admin.sidebars.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="container-fluid">
<div class="row">
    <div class="col-3">
        {% include 'sidebar.twig' %}
    </div>
    <div class="col-9">
        <nav class="nav"></nav>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="../public/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
