<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Admin Panel</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/admin.login.css">
</head>
<body>
<div class="container">
    <form class="form-login w-100 m-auto mt-5" href="/login" method="post">
        <img class="mb-4" src="../images/logo.png" alt="" height="57">
        <h1 class="h3 mb-3 fw-normal">Đăng nhập</h1>
        {% if error is not empty %}
            <div class="text-danger pb-2">
                <span>* {{ error }}</span>
            </div>
        {% endif %}
        <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập" required autofocus>
            <label for="floatingInput">Tài khoản</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" required>
            <label for="floatingPassword">Mật khẩu</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Đăng nhập</button>
    </form>
</div>
<script src="../public/js/bootstrap.bundle.min.js"></script>
</body>
</html>
