<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Admin Panel</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <style>
        /* Thêm CSS cho biểu tượng chờ đợi */
        .spinner-border {
            display: none;
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div class="container" style="width: 350px; padding: 1rem;">
    <form id="login-form" class="form-login mt-5 " href="/login" method="post">
        <img class="mb-4" src="/public/images/logo.png" alt="" height="57">
        <h1 class="h3 mb-3 fw-normal">Đăng nhập</h1>
        <div class="text-danger">
            <p id="msg"></p>
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập" required autofocus>
            <label for="username">Tài khoản</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" required>
            <label for="password">Mật khẩu</label>
        </div>
        <button id="submit-btn" class="btn btn-primary w-100 mb-3" type="submit">Đăng nhập<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </form>
</div>
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#login-form').submit(function(e){
            e.preventDefault();

            $('#submit-btn').attr('disabled', true);
            $('.spinner-border').show();

            $.ajax({
                url: '/admin/login',
                method: 'post',
                data: $('#login-form').serialize(),
                success: function(data) {
                    console.log(data);
                    if (data === 'success') {
                        window.location.href = '/admin';
                    } else {
                        $('#msg').html('*' + data);
                        $('#login-form').find('input').val('');
                        $('#username').focus();
                    }

                    $('#submit-btn').attr('disabled', false);
                    $('.spinner-border').hide();
                }
            });
        });
    });
</script>
</body>
</html>
