<div class="card vh-100 shadow">
    <div class="card-header">
        <h2>
            <a href="/" class="link-body-emphasis text-decoration-none">
                Menu
            </a>
        </h2>
    </div>
    <div class="card-body d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="/admin/home" class="nav-link link-body-emphasis" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="/admin/products" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                    Products
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Customers
                </a>
            </li>
            <li>
                <a href="/admin/users" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Danh sách User
                </a>
            </li>
            <li>
                <a href="/admin/permissions" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Danh sách Quyền
                </a>
            </li>
        </ul>
    </div>
    <div class="card-footer dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined">person</span>
            <strong>{{ admin.admin_name }}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="/admin/logout">Sign out</a></li>
        </ul>
    </div>
</div>
