{% set page = 'user' %}

{% extends 'layout.twig' %}

{% block title %}Thêm user{% endblock %}
{% block content %}
    <div class="container">
        <h3>Thêm người dùng mới</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Thông tin người dùng</p>
            </div>
            <div class="card-body">
                <form id="add-user-form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Họ tên</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                        <div class="invalid-feedback">Tên người dùng chỉ được chứa chữ cái và số.</div>

                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Nhập lại Password</label>
                        <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
                    </div>
                    <div class="mb-3">
                        <label for="permission" class="form-label">Chọn quyền</label>
                        <select class="form-select" aria-label="Default select example" id="permission" name="permission">
                            <option selected value="0">Chọn quyền</option>
                            {% for permission in permissions %}
                                <option value="{{ permission.id }}">{{ permission.id }} - {{ permission.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#add-user-form').submit(function(e) {
            e.preventDefault();
            // Kiểm tra các điều kiện về dữ liệu
            const username = $('#username').val();
            const password = $('#password').val();
            const confirmPassword = $('#confirm-password').val();
            const permissionSelect = $('#permission-select').val();

            var usernameRegex = /^[a-zA-Z0-9]+$/; // Chỉ chứa chữ và số
            var passwordRegex = /^[a-zA-Z0-9]{6,}$/; // Ít nhất 6 ký tự hoặc số

            if (!usernameRegex.test(username)) {
                alert('Username chỉ được chứa chữ và số.');
                return;
            }

            if (!passwordRegex.test(password)) {
                alert('Password có ít nhất 6 chữ số và không chứa các ký tự đặc biệt');
                return;
            }

            if (password !== confirmPassword) {
                alert('Password không khớp.');
                return;
            }

            if (permissionSelect === 0) {
                alert('Chưa chọn quyền');
                return;
            }
            var a = $('#add-user-form').serialize();
            console.log(a);
            $.ajax({
                url: '/admin/user/add',
                type: 'POST',
                data: $('#add-user-form').serialize(),
                success: function(data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if (data.success) {
                        alert(data.message);
                        window.location.href = '/admin/user';
                    } else {
                        alert(data.message);
                        $('#password').val('');
                        $('#confirm-password').val('');
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    });
</script>
{% endblock %}