<footer class="mb-4 border-top container-fluid">
    <style>
        .overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .carousel-item img {
            height: 500px; /* Thay đổi giá trị này theo yêu cầu */
            object-fit: cover; /* Đảm bảo hình ảnh vẫn giữ nguyên tỷ lệ khi thay đổi kích thước */
        }

        .list-unstyled {
            margin-top: 0;
            padding-left: 0;
            list-style: none;
        }

        .text-decoration-none {
            position: relative;
            text-decoration: none; /* Loại bỏ gạch dưới mặc định */
        }

        .text-decoration-none::after {
            content: '';
            position: absolute;
            bottom: -2px; /* Đẩy đường gạch dưới xuống một chút để nó không chồng lên chữ */
            left: 0;
            width: 100%;
            height: 2px;
            background-image: linear-gradient(to right, white, white 50%, transparent 50%); /* Gradient từ đen sang trong suốt */
            background-size: 200% 100%; /* Kích thước gradient là gấp đôi chiều rộng */
            background-position: right bottom; /* Bắt đầu gradient từ bên phải */
            transition: background-position 0.3s; /* Hiệu ứng chuyển đổi vị trí gradient */
        }

        .text-decoration-none:hover::after, /* Hiệu ứng khi hover */
        .text-decoration-none.active::after { /* Hiệu ứng khi active */
            background-position: left bottom; /* Di chuyển gradient sang trái */
        }
    </style>

    <div class="row justify-content-center" style="background: saddlebrown">
        <div class="mt-5 mb-5 col-10 col-lg-4 d-flex align-items-center justify-content-center text-center">
            <ul class="list-unstyled fs-5 fw-bold my-4">
                <li><a class="text-white text-decoration-none text-uppercase" href="/cart"><span>Online Ordering</span></a>
                </li>
                <li><a class="text-white text-decoration-none text-uppercase" href="/products"><span>Menu</span></a>
                </li>
                <li><a class="text-white text-decoration-none text-uppercase" href="/about-us"><span>About</span></a>
                </li>
                <li><a class="text-white text-decoration-none text-uppercase" href="/contact"><span>Contact</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center p-3">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="images/logo.png" alt="logo" height="25">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="https://twitter.com/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M 2.8671875 3 L 9.7363281 12.818359 L 2.734375 21 L 5.3808594 21 L 10.919922 14.509766 L 15.460938 21 L 21.371094 21 L 14.173828 10.697266 L 20.744141 3 L 18.138672 3 L 12.996094 9.0097656 L 8.7988281 3 L 2.8671875 3 z"></path>
                    </svg>
                </a>
            </li>
            <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
                    </svg>
                </a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M3 12.9C3 12.9 3.1 12.9 3 12.9 3.1 12.9 3 12.9 3 12.9zM12 2C6.5 2 2 6.5 2 12c0 5 3.7 9.2 8.6 9.9v-7.5H8.4V12h2.3v-1.6c0-2.6 1.2-3.7 3.4-3.7 1 0 1.5.1 1.8.1v2h-1.5c-.9 0-1.2.9-1.2 1.9V12h2.7l-.4 2.4h-2.3v7.5c4.9-.6 8.8-4.8 8.8-9.9C22 6.5 17.5 2 12 2z"></path>
                    </svg>
                </a></li>
        </ul>
        <p class="footer-bottom">
            - © {{ post.published_at|date("Y") }} ABC Bakery. All rights reserved. - CÔNG TY TNHH MỘT THÀNH VIÊN BÁNH
            KẸO Á
            CHÂU MS doanh nghiệp: 0302259104 do sở Kế Hoạch và Đầu Tư TP.Hồ Chí Minh cấp lần đầu ngày 14/03/2001, đăng
            ký
            thay đổi lần thứ 16 ngày 26/04/2017. Người chịu trách nhiệm: Kao Siêu Lực Trụ sở: 1175A, đường 3/2, phường
            6,
            quận 11, Tp. HCM, Việt Nam Điện thoại: (028) 37520857 Fax: (028) 38551242 Email: contact@abcbakery.co
        </p>
    </div>

</footer>