{% set page = 'about-us' %}
{% extends 'layout.twig' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="position-relative mb-5">
        <section>
            <video class="embed-responsive w-100 z-n1" preload="auto" autoplay="" muted="" loop="" playsinline=""
                   data-poster="https://parisbaguette.com/wp-content/themes/parisbaguette/assets/images/blank.gif"
                   poster="https://parisbaguette.com/wp-content/themes/parisbaguette/assets/images/blank.gif"
                   data-loaded="true">
                <source type="video/mp4" data-src="https://parisbaguette.com/wp-content/uploads/pb-brand.mp4"
                        src="https://parisbaguette.com/wp-content/uploads/pb-brand.mp4">
            </video>
            <div class="overlay">
                <div class="text-white text-center">
                    <h1>About Us</h1>
                    <h2>Welcome to your neighborhood bakery café.</h2>
                </div>
            </div>
        </section>
    </div>
    <h2 class="text-center mt-5 mb-5">We make the best bakery for you</h2>
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1568254183919-78a4f43a2877?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1555507036-ab1f4038808a?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                     class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h2 class="text-center mt-5 mb-5">Bakery for everyone</h2>
{% endblock %}
