<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Đăng nhập</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="usernameInput" name="username" autofocus>
                        <label for="usernameInput">Tài khoản</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Mật khẩu">
                        <label for="passwordInput">Mật khẩu</label>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" name="rem" class="form-check-input" id="customCheck">
                        <label for="customCheck" class="custom-control-label">Ghi nhớ tài khoản</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </form>
                <div class="mt-3 mb-3">
                    Nếu bạn chưa có tài khoản, vui lòng <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#registrationModal">đăng ký</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const myModal = document.getElementById('loginModal')
    const myInput = document.getElementById('usernameInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>