{% extends 'layout.twig' %}

{% block title %}Khôi phục mật khẩu - My Website{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        #alert, #register-box, #forgot-box, #loader {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-lg-5 mt-5">
                <h3 class="text-center p-2 rounded">
                    Đặt lại mật khẩu của bạn tại đây!
                </h3>
                <h4 class="text-success text-center" id="message">
                    {{ msg|raw }}
                </h4>

                <form action="" method="post" id="rpass-frm">
                    <div class="mb-3">
                        <label for="password">Nhập mật khẩu mới</label>
                        <input type="password" name="newpass" class="form-control"  required minlength="6">
                    </div>

                    <div class="mb-3">
                        <label for="password">Nhập lại mật khẩu mới</label>
                        <input type="password" name="cnewpass" class="form-control" required minlength="6">
                    </div>

                    <div class="mb-3">
                        <input type="submit" name="submit" class="btn btn-success btn-block" value="Đặt lại mật khẩu">
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/public/js/index-js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}