{% set page = 'about-us' %}
{% extends 'layout.twig' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <i class="fas fa-check-circle thank-you-icon"></i>
            <h1 class="display-4">Cảm ơn bạn!</h1>
            <p class="lead">Chúng tôi đã nhận được thông tin của bạn và sẽ liên hệ sớm nhất có thể.</p>
            <a href="/" class="btn btn-primary">Trở về trang chủ</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>

{% endblock %}
