{% extends './layout.twig' %}
{% block title %}Add Products{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Upload CSV File</h1>
        <form action="/admin/products/add" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="csvFile">Choose CSV File:</label>
                <input type="file" class="form-control-file" id="csvFile" name="csv" accept=".csv">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}
