{% extends './layout.twig' %}
{% block title %}Add Products{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="/admin/products/create" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="productId">Mã sản phẩm:</label>
                                <input type="text" class="form-control" id="productId" name="productId">
                            </div>

                            <div class="form-group">
                                <label for="productName">Tên sản phẩm:</label>
                                <input type="text" class="form-control" id="productName" name="productName">
                            </div>

                            <div class="form-group">
                                <label for="productPrice">Giá:</label>
                                <input type="text" class="form-control" id="productPrice" name="productPrice">
                            </div>

                            <div class="form-group">
                                <label for="productContent">Mô tả:</label>
                                <input type="text" class="form-control" id="productContent" name="productContent"
                                       required>
                            </div>

                            <div class="form-group">
                                <label for="productImage">Hình ảnh:</label>
                                <input type="file" class="form-control-file" id="productImage" name="productImage">
                            </div>

                            <div class="form-group">
                                <label for="productCategoryId">Mã thể loại:</label>
                                <select class="form-control" id="productCategoryId" name="productCategoryId">
                                    <option value="1">Bánh mì</option>
                                    <option value="2">Bánh ngọt</option>
                                    <option value="3">Bánh kem nhỏ</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Thêm</button>
                            <button type="button" class="btn btn-secondary" onclick="hideAddProductForm()">Hủy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="/public/js/products.js"></script>
{% endblock %}