{% set page = 'user' %}

{% extends './layout.twig' %}

{% block title %}Thêm user{% endblock %}
{% block content %}
    <div class="container">
        <h3>Thêm người dùng mới</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Thông tin người dùng</p>
            </div>
            <div class="card-body">
                <form id="add-user-form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Họ tên<span class="text-warning">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Tên đăng nhập<span class="text-warning">*</span></label>
                        <input type="text" class="form-control" id="username" name="username" required>
                        <div class="invalid-feedback">Tên người dùng chỉ được chứa chữ cái và số.</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Địa chỉ email<span class="text-warning">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="sdt" class="form-label">Số điện thoại<span class="text-warning">*</span></label>
                        <input type="tel" class="form-control" id="sdt" name="sdt" required>
                    </div>
                    <div class="mb-3">
                        <label for="adress" class="form-label">Địa chỉ</label>
                        <textarea class="form-control" id="adress" name="adress"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="dob" class="form-label">Ngày sinh<span class="text-warning">*</span></label>
                        <input type="date" class="form-control" id="dob" name="dob" required>
                    </div>
                    <div class="mb-3">
                        <label for="gender">Giới tính:</label>
                        <select class="form-control" id="gender" name="gender">
                            <option value="">Chọn giới tính</option>
                            <option value="male">Nam</option>
                            <option value="female">Nữ</option>
                            <option value="other">Khác</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="permission" class="form-label">Chọn quyền<span class="text-warning">*</span></label>
                        <select class="form-select" aria-label="Default select example" id="permission" name="permission">
                            <option selected value="">Chọn quyền</option>
                            {% for permission in permissions %}
                                <option value="{{ permission.id }}">{{ permission.id }} - {{ permission.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#add-user-form').submit(function(e) {
            e.preventDefault();
            // Get form elements
            var name        = document.getElementById("name").value;
            var username    = document.getElementById("username").value;
            var email       = document.getElementById("email").value;
            var sdt         = document.getElementById("sdt").value;
            var dob         = document.getElementById("dob").value;
            var gender      = document.getElementById("gender").value;
            var permission  = document.getElementById("permission").value;

            var usernameRegex = /^[a-zA-Z][a-zA-Z0-9]*$/;
            if (!usernameRegex.test(username)) {
                alert('Username không đúng');
                return;
            }

            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                alert('Email không đúng');
                return;
            }

            var sdtRegex = /^(032|033|034|035|036|037|038|039|096|097|098|086|083|084|085|081|082|088|091|094|070|079|077|076|078|090|093|089|056|058|092|059|099)[0-9]{7}$/;
            if (!sdtRegex.test(sdt)) {
                alert('Số điện thoại không đúng');
                return;
            }

            if (gender === "") {
                alert('Chưa chọn giới tính');
                return;
            }

            if (permission === "") {
                alert('Chưa chọn quyền');
                return;
            }

            $.ajax({
                url: '/admin/user/add',
                type: 'POST',
                data: $('#add-user-form').serialize(),
                success: function(data) {
                    console.log(data);
                    data = JSON.parse(data);
                    if (data.success) {
                        alert(data.message);
                        window.location.href = '/admin/user';
                    } else {
                        alert(data.message);
                        $('#password').val('');
                        $('#confirm-password').val('');
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    });
</script>
{% endblock %}