<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    {% include 'Includes/header.twig' %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    {% include 'Includes/footer.twig' %}
</footer>
{% block scripts %}{% endblock %}
</body>
</html>
