<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="position:relative; display:block">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Tiệm bánh</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link {% if page == 'home' %}active{% endif %}" href="/admin">
                    <i class="fas fa-tachometer-alt"></i> <span>Trang chủ</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'profile' %}active{% endif %}" href="/admin/account/profile">
                    <i class="fas fa-user"></i> <span>Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'products' %}active{% endif %}" href="/admin/products">
                    <i class="fa-solid fa-bread-slice"></i> <span>Danh sách sản phẩm</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'user' %}active{% endif %}" href="/admin/user">
                    <i class="fa-solid fa-user-tie"></i> <span>Người dùng</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'permissions' %}active{% endif %}" href="/admin/permissions">
                    <i class="fa-solid fa-shield"></i> <span>Quyền</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'blank' %}active{% endif %}" href="/admin/blank">
                    <i class="fas fa-window-maximize"></i> <span>Blank Page</span>
                </a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>