<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
     style="position:relative; display:block">
    <div class="container-fluid d-flex flex-column p-0"><a
                class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Tiệm bánh</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">

            <li class="nav-item">
                <a class="nav-link {% if page == 'home' %}active{% endif %}" href="/admin/home">
                    <i class="fas fa-home"></i> <span>Trang chủ</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'dashboard' %}active{% endif %}" href="/admin/dashboard">
                    <i class="fas fa-tachometer-alt"></i> <span>Thống kê</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'products' %}active{% endif %}" href="/admin/products">
                    <i class="fa-solid fa-bread-slice"></i> <span>Danh sách sản phẩm</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'categories' %}active{% endif %}" href="/admin/categories">
                    <i class="fa-solid fa-layer-group"></i> <span>Danh sách thể loại</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link {% if page == 'suppliers' %}active{% endif %}" href="/admin/suppliers">
                    <i class="fa-solid fa-bread-slice"></i> <span>Nhà cung cấp</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'purchase_orders' %}active{% endif %}" href="/admin/purchase_orders">
                    <i class="fa-solid fa-bread-slice"></i> <span>Purchase orders</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'orders' %}active{% endif %}" href="/admin/orders">
                    <i class="fa-solid fa-file-invoice"></i> <span>Hoá đơn</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'customers' %}active{% endif %}" href="/admin/customers">
                    <i class="fa-solid fa-users"></i> <span>Khách hàng</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link {% if page == 'user' %}active{% endif %}" href="/admin/user">
                    <i class="fa-solid fa-user-tie"></i> <span>Người dùng</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page == 'permissions' %}active{% endif %}" href="/admin/permissions">
                    <i class="fa-solid fa-shield"></i> <span>Quyền</span>
                </a>
            </li>

        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>